.card h5{
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center img{
    height: 10rem;
}
.cart-product{
    margin-left: 10rem;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: .25rem;
}

