
<ng-container *ngIf="true">
    <div class="container text-center mt-5">
        <div class="card-table " >
            <div class="cart-product">
                <div class="table table-responsive text-white">
                    <thead>
                        <tr>
                            <th>sr. no</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>iphone</td>
                            <td>Some Image</td>
                            <td>this is a branded phone</td>
                            <td>50,000</td>
                            <td>1</td>
                            <td>50,000</td>
                            <td>
                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf='false'>
    <div class="container">
        <div class="card text-center bg-black text-white">
            <h5 class="card-title  text-center ">
                My Cart
            </h5>
        </div>
        <div class="center border border-light text-white p-5 text-center mt-5">
            <img src="assets/shopsvg.svg" alt="">
            <h5>Your Cart is Empty</h5>
            <h6>Add something to it</h6>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container> -->
           